This example shows how to use Pandas to efficiently take a time series file with a daily time step and summarise it by month or year

In [5]:
# import Pandas
import pandas as pd

#read time series into dataframe

df = pd.read_csv('C:data_for_examples/1.csv')

Now that the data is read in, we can take the Date column convert it into a formal datetime type otherwise pandas won't recognise it as a date

In [6]:
df['Date'] = pd.to_datetime(df['Date'])

The Date column is now assigned as an index ( rather than a data column)

In [7]:
df.set_index('Date', inplace=True)

Now the cool part. We can use the Pandas resample method to down sample the data from daily to monthly or yearly timestep. resample will actually downsample timeseries on almost any timescale.

First, lets try summarising by month. We will use the 'MS' frequency string to denote that we want tp downsample to a monthly step from the start of each month. We also use the sum() function to sum up all related values. We will use head() to restrict our output just for the purpose of the demonstration.

In [11]:
df.resample('MS').sum().head(12)

            Sediment - Fine_136106A_kilograms
Date
1986-07-01                       15425.011581
1986-08-01                       34729.070332
1986-09-01                       32681.843320
1986-10-01                      896245.767589
1986-11-01                       86205.158995
1986-12-01                      815236.531071
1987-01-01                        2573.612556
1987-02-01                       25870.608622
1987-03-01                       70950.984066
1987-04-01                       40185.839501
1987-05-01                       49566.053110
1987-06-01                       25345.597141

Now, let's try annual sums

In [13]:
df.resample('AS').sum().head(12)

            Sediment - Fine_136106A_kilograms
Date
1986-01-01                       1.880523e+06
1987-01-01                       4.634840e+05
1988-01-01                       1.380092e+07
1989-01-01                       5.065830e+07
1990-01-01                       1.569243e+07
1991-01-01                       4.440818e+06
1992-01-01                       6.696022e+07
1993-01-01                       2.432696e+05
1994-01-01                       1.272220e+07
1995-01-01                       4.992423e+05
1996-01-01                       7.726754e+07
1997-01-01                       1.028505e+07

This is ok, but we want to summarise over a financial year rather than a calendar year so lets try offsetting the start to July of each year using 'AS-JUL' frequency string.

In [19]:
df.resample('AS-JUL').sum().head(12)

            Sediment - Fine_136106A_kilograms
Date
1986-07-01                       2.095016e+06
1987-07-01                       5.604713e+05
1988-07-01                       6.369405e+07
1989-07-01                       1.579639e+07
1990-07-01                       4.501395e+06
1991-07-01                       6.702426e+07
1992-07-01                       2.730850e+05
1993-07-01                       1.288187e+07
1994-07-01                       4.215509e+05
1995-07-01                       7.711675e+07
1996-07-01                       6.185454e+06
1997-07-01                       4.696194e+06